.lightBoxBC {
  background-color: black;
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
}
.slideShow {
  position: relative;
  z-index: 100;
}

.slideShow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 4px;
  background-color: white;
  animation: loadingBar 4s linear forwards;
}

@keyframes loadingBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.lightBoxContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.lightBoxBC:fullscreen {
  width: 100%;
  height: 100%;
}

.lightBoxImgContainer.fullScreen {
  max-width: 100% !important;
  max-height: 99% !important;
}

.lightBoxImgContainer {
  display: flex;
  z-index: 20;
}

.lightBoxImg {
  max-height: 99% !important;
  max-width: 100% !important;
  object-fit: contain;
}

.buttonLB {
  cursor: pointer;
  color: rgb(181, 181, 181);
  font-size: 0.8em;
  margin: 0 0.25em;
}

.buttonClose {
  height: 2.7em !important;
}

.white {
  color: White !important;
}

.buttonLB:hover {
  color: rgb(237, 237, 237);
}

.buttonBackLB {
  transform: rotate(90deg) scaleX(1.2);
  padding-bottom: 1em;
  font-size: 1.5em;
}

.buttonNextLB {
  transform: rotate(-90deg) scaleX(1.2);
  padding-bottom: 1em;
  font-size: 1.5em;
}

.buttonDiv {
  padding-left: 1em;
}

.buttonLB {
  cursor: pointer;
  color: rgb(181, 181, 181);
  height: 2em;
}

.buttonLB.disabled {
  color: rgb(77, 77, 77);
}

.ButtonsLbTop {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: absolute;
  top: 1em;
  height: fit-content;
  justify-content: space-between;
  padding: 0 2em;
  z-index: 30;
}

.buttonsLbRight,
.buttonsLbLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttonsLbRight {
  right: 1em;
}

.buttonsLbLeft {
  left: 1em;
}

.buttonInfoLB {
  cursor: pointer;
  color: rgb(181, 181, 181);
  height: 1.7em;
  margin-right: 1em;
}

.buttonUpLB {
  transform: rotate(-180deg);
}

.photoInfoContainer {
  position: absolute;
  background: #00433c;
  border-radius: 2em 2em 0 0;
  width: 100vw;
  height: 90vh;
  bottom: -90vh;
  border-right: 3px solid white;
  border-left: 3px solid white;
  border-top: 3px solid white;
  transition: all 0.5s ease-in-out;
  z-index: 31;
  display: flex;
}

.photoInfoContainer.show {
  bottom: 0;
  max-height: 90vh;
}

.photoInfoContainer.show .buttonUpLB {
  transform: rotate(0deg);
}

.metadataContainer {
  height: auto;
  width: 40%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 5em;
}

.commentsContainer {
  height: 92%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5em 5em 0 0;
}

.textPomContainer {
  height: 100vh;
  width: 35vw;
  background: #00433c;
  position: absolute;
  left: 0;
  top: -100vh;
  transition: all 0.5s ease-in-out;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 3em 0;
  z-index: 33;
}

.buttonCloseTextLB {
  align-self: flex-end; /* Lisää tämä */
  padding-top: 2em;
  padding-right: 2em;
}

.textPomContainer.show {
  top: 0;
}

.textPomLB {
  padding: 3em;
  padding-top: 1em;
  color: white;
  font-size: 1.2vw;
  text-align: start;
  hyphens: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.headerPomLB {
  color: white;
  text-align: start;
  padding-bottom: 1em;
  margin: 0;
}

.imgSmallPom {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 75px;
  margin-left: 4em;
}

.toggle {
  position: absolute;
  top: 1.5em;
  right: 3em;
}

.stars {
  width: fit-content;
  position: absolute;
  bottom: 0em;
  right: 4em;
  z-index: 55;
}

@media (max-width: 990px) {
  .textPomContainer {
    width: 100vw;
  }
}
