.albumContainer {
  margin: 3em 12em;
}

.galleryImgText {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;

  text-align: center;
  padding: 0.5em;
  opacity: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: 0.5s ease-in-out opacity;
}

.galleryImgText:hover {
  opacity: 1;
}
.react-photo-album {
  margin-bottom: 20px;
}

.hideText {
  display: none;
}

.GalleryPhotoHeader {
  font-size: 1.5rem;
}

.react-photo-album--photo {
  scale: 1;
  transition: 0.5s ease-in-out scale;
  animation: revealPhoto 1.5s ease-in-out;
}

.newBadgeSmall {
  position: absolute;
  z-index: 10;
  top: 0.5em;
  right: 0.5em;
  height: 25px;
  width: 25px;
  transform: scaleX(-1);
}

@keyframes revealPhoto {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.react-photo-album--photo:hover {
  scale: 1.05;
}

@media (max-width: 990px) {
  .albumContainer {
    margin: 0em 2em 3em 2em;
  }
}

@media (max-width: 1200px) {
  .react-photo-album {
    margin-bottom: 15px;
  }
}

@media (max-width: 600px) {
  .react-photo-album {
    margin-bottom: 10px;
  }
}

@media (max-width: 300px) {
  .react-photo-album {
    margin-bottom: 5px;
  }
}
