.bannerContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-color: #7c7a7a54;
  z-index: 999;
}

.privacyBanner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #00433c;
  color: white;
  border-top: 3px solid #bacdc4;
  padding: 16px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 100vw;
  max-height: 90%;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
}

.privacyBanner::-webkit-scrollbar {
  position: absolute;
  width: 10px;
  left: -100px;
}

.privacyBanner::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #00433c;
}

.privacyBanner::-webkit-scrollbar-thumb {
  background: #f8f7f5;
  border-radius: 10px;
}

.privacyBanner::-webkit-scrollbar-thumb:hover {
  background: #005d54;
}

.privacyTexts {
  display: flex;
  width: 60%;
  margin: 0 1em 1em 3em;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

.privacyTexts > p {
  margin: 0 0 1em 0;
}

.titleAndLanguage > h3 {
  margin: 0 1em 0 0;
}

.titleAndLanguage {
  margin: 1em 0 0 0;
  display: flex;
}

.bannerDropText {
  color: white !important;
  margin: 0;
  font-family: "Nova Round", sans-serif;
  white-space: nowrap;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  cursor: pointer;
  width: fit-content;
}

.privacy > .dropdown-menu.show {
  left: -5px !important;
  background-color: #00433c;
}

.dropFlag {
  position: relative;
  top: -2px;
}

.switchesAndButtons {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 40%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 60px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(100, 100, 100);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #bacdc4;
}

input:focus + .slider {
  box-shadow: 0 0 1px #bacdc4;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #00433c;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.buttonsPermission {
  display: flex;
  width: 100%;
  justify-content: start;
  margin-left: 3em;
}

.switches {
  display: contents;
}

.switchContainer {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto 1em 3em;
  width: 100%;
  align-items: center;
}

.switchContainer > p {
  text-align: left;
}

.headerSwitches {
  margin: 1em 0 0 0;
}

.button-primary.banner {
  min-width: 200px;
}

@media (max-width: 1400px) {
  .privacyBanner {
    flex-direction: column;
    align-items: center;
    left: 1em;
    right: 1em;
    bottom: 3em;
    top: 3em;
    border: 3px solid #bacdc4;
  }

  .switchesAndButtons {
    width: 90%;
    align-items: center;
  }

  .privacyTexts {
    width: 90%;
    margin-left: 0;
  }

  .titleAndLanguage {
    flex-direction: column-reverse;
  }

  .titleAndLanguage > h3 {
    margin: 1em 0 0 0;
  }

  .switchContainer {
    margin-left: 0;
  }

  .buttonsPermission {
    margin-left: 0;
    flex-direction: column;
    align-items: flex-start;
  }
}
