.handle-hero {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
}

.imageAndDel {
  display: flex;
  position: relative;
}

.button-primary {
  width: fit-content;
  margin: 1rem 1rem 0 0;
}

.imageAndDel {
  position: relative;
  display: inline-block;
}

.selectedImage {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin: 1rem 0 0 0;
}

.deleteBtn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 50px;
  height: 50px;
  background: red;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: opacity 0.2s ease;
  margin: 1.5rem 1rem 0 0;
}

.deleteBtn:hover {
  background: rgb(209, 0, 0);
}

.deleteBtn:active {
  transform: scale(0.92);
}

.EditButtonsOP {
  flex-direction: row;
}
