.handle-hero {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
  align-items: flex-start;
}

.handle-content {
  margin-top: 2em;
}

.heroImages {
  display: flex;
  flex-wrap: wrap;
}

.heroItem {
  width: auto;
  height: 100px;
  margin: 0.3rem;
  overflow: visible;
  flex-shrink: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
}

.heroItem {
  position: relative;
  z-index: 1;
}

.heroItem img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 200ms ease-in;
}

.heroItem:hover img {
  transform: scale(1.3);
}

.heroItem:hover {
  transform: scale(1.2);
  position: relative;
  z-index: 10;
}

.imageAndDel {
  display: flex;
  position: relative;
}

.button-primary.hero {
  width: fit-content;
  margin: 1rem 0.5rem 1rem 0;
}

.imageAndDel {
  position: relative;
  display: inline-block;
}

.selectedImage {
  display: block;
  width: auto;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
  margin: 1rem 0 0 0;
}

.deleteBtn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 50px;
  height: 50px;
  background: red;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: opacity 0.2s ease;
  margin: 1.5rem 1rem 0 0;
}

.deleteBtn:hover {
  background: rgb(209, 0, 0);
}

.deleteBtn:active {
  transform: scale(0.92);
}

.EditButtonsOP.hero {
  flex-direction: row;
  margin: 0 0 0.5rem 0;
}
