a {
  margin: 0 0.5em;
  font-size: 1.1em;
}

p {
  margin: 0 0.5em;
  font-size: 1.1em;
}

.footer {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #bacdc4;
  padding: 3rem 2rem 3rem 0;
  display: flex;
}

.footerDiv {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-left: 6em;
  margin-bottom: 2em;
}

.footerH1 {
  color: #00202c;
  font-size: 10em;
  visibility: hidden;
  opacity: 0;
  padding: 0.1em 0 0 0.1em;
  margin-bottom: 0;
  text-align: start;
  opacity: 0;
  visibility: hidden;
  transform: translatex(100%);
  transition: opacity ease-in-out 1.5s, transform ease-in-out 1.5s;
}

.footerH1.fade-in {
  opacity: 1;
  visibility: visible;
  transform: translatex(0);
}

.copyRight {
  color: #00202c;
  font-size: 1.2em;
  visibility: hidden;
  opacity: 0;
  margin-left: 75px;
  text-align: start;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: opacity ease-in-out 1.5s, transform ease-in-out 1.5s;
}

.copyRight.fade-in {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.smallColumn {
  gap: 1rem;
}

.social {
  margin-top: 8em;
  margin-right: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.privacyLink {
  margin-left: 75px;
}

.linksSocial {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.social-link {
  position: relative;
  opacity: 0;
  transition: opacity 1s ease-out;
  transition: opacity 0.3s ease;
  transition-delay: 1s;
  cursor: pointer;
}

.social-link.show {
  opacity: 1;
}

.social-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #00202c;
  transition: width 0.4s ease-out;
}

.social-link:hover::after {
  width: 100%;
}

@media (max-width: 1500px) {
  .footerH1 {
    font-size: 6em;
  }
}

@media (max-width: 990px) {
  .social {
    padding: 0 1em 0 0 !important;
  }

  .privacyLink,
  .privacyLink > p {
    margin-left: 0px;
  }

  .footerH1 {
    padding: 0;
  }

  .copyRight {
    margin-left: 0;
  }
}

@media (max-width: 790px) {
  .footerH1 {
    font-size: 2.2em;
    margin-left: 0;
    padding: 0 1em;
    text-align: center;
  }

  .social {
    margin-top: 5em;
    margin-right: 0;
    padding: 0 5em !important;
    align-items: center;
    flex-direction: column;
  }

  .privacyLink {
    margin-bottom: 2em;
  }

  .linksSocial {
    align-items: center;
  }

  .smallColumn {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .copyRight {
    padding: 0 3em !important;
    display: flex;
    margin-top: 1em;
    margin-left: 0;
    justify-content: center;
    text-align: center;
  }
  .footerDiv {
    margin-left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .footer {
    padding-right: 0;
    min-height: 80vh;
  }
}
