body {
  margin: 0;
  background: #00433c;

  position: relative;
  width: 100%;
  height: 100%;
}

body.app-ready {
  background: #f8f7f5;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

#root {
  max-width: 100% !important;
  min-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Nova Round", sans-serif;
}

a {
  text-decoration: none !important;
  color: inherit !important;
  outline: none !important;
}

a:hover,
a:focus {
  color: inherit;
  text-decoration: underline;
}

#initial-loader {
  height: 100vh;
  width: 100vw;
  position: fixed;
  inset: 0;
  background: #00433c;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 9999;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ffffff;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
