.LoginFormContainer {
  margin: 4em 1em;
  display: flex;
  justify-content: center;
}

.LoginForm {
  width: 500px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.loginUsername,
.loginPassword {
  margin: 0 0 0.5em 0 !important;
  padding: 0.5em 1em !important;
  width: 80% !important;
}

.loginPassword {
  margin: 0 0 2em 0 !important;
}

.loginUsername:active,
.loginPassword:active {
  border: none;
}
