.containerOP {
  width: 40em;
  width: 100%;
  margin: 2em 0 4em 0;
  padding: 0 2em;
}

.InfoAndKeywords {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 61vh;
  justify-content: center;
  overflow: hidden;
}

.profilePicture {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  object-fit: cover;
  margin-bottom: 1em;
  user-select: none;
  pointer-events: none;
}

.profilePlus {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-end;
  user-select: none;
}

.profilePictureContainer {
  width: 440px;
}

.addProfPic {
  width: 100%;
}

.cropPreview {
  height: 250px;
}

.plusButton {
  border: none;
  background: #00433c;
  color: #ffffff;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: relative;
  left: -40px;
  bottom: 20px;
  cursor: pointer;
}

.plusButton:hover {
  background: #005d54;
}

.plusButton:active {
  scale: 0.9;
}

.group-header {
  border-bottom: 2px solid black;
  text-align: start;
}

.searchKwCont {
  width: 250px;
  max-width: 90%;
  display: flex;
  height: fit-content;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 0.7em 0.2em 0.5em;
  border-bottom: 2px solid black;
}

.searchKw {
  all: unset;
  text-align: start;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.tableOP,
.infoCont {
  padding: 0 5em 0 0;

  min-width: 500px;
  max-width: 90%;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-style: none !important;
}

.tdOP {
  padding: 0 !important;
}

.infoCont {
  text-align: start;
}

.HeaderHK {
  text-align: start;
}

.keywordsContainerOP {
  max-height: 87%;
  overflow-y: auto;
  overflow-x: hidden;
}

.EditButtonsOP {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.clikkableOP {
  cursor: pointer;
  width: fit-content !important;
}

.keywordsOP {
  width: fit-content;
}

.mainHeaderEKW {
  display: flex;
  flex-direction: row;
  width: 400px;
  max-width: 100%;
  justify-content: space-between;
}
.inputKeyword {
  width: 90% !important;
}
.editKW {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f8f7f5;
  font-size: 1em;
  color: black;
  border: 5px solid #00433c;
  border-radius: 15px;
  padding: 1em 2em 1em 2em;
  max-height: 90vh;
  width: fit-content;
  max-width: 100%;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1010 !important;
}

@media (max-width: 990px) {
  .InfoAndKeywords {
    flex-direction: column;
    width: 100%;
    max-height: fit-content;
    align-content: center;
    flex-wrap: wrap;
  }

  .KeywordsTableCont,
  .infoCont {
    margin-top: 2em;
  }

  .editKW {
    width: 60%;
    padding: 0.5em;
  }
}

@media (max-width: 500px) {
  .tableOP,
  .infoCont {
    min-width: 100%;
    max-width: 100%;
    padding: 0;
    text-align: center;
  }

  .editKW {
    width: 90%;
  }
}
