.marginAddImage {
  width: 40em;
  max-width: 90%;
  margin: 2em auto;
  overflow: hidden;
}

.input {
  margin: 0.5em 1em;
}

.form__field {
  margin: 0.25em 0;
  min-width: auto;
}

.button-primary {
  margin: 0.25em;
}

.form__group {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.buttonDiv {
  max-width: 100%;
  display: flex;
  justify-content: end;
  margin: 0.75em;
}

.divYearMonth {
  width: 100%;
  display: flex;
  align-items: start;
  margin: 0;
}

.month,
.year {
  margin-right: 0.5em;
}

.monthly {
  text-align: start;
  margin-top: 1em;
}

#keyword {
  padding: 0.1em 0.5em;
}

.formAddKeyword {
  display: flex;
  flex-direction: row;
}

.smallButtonUI {
  font-size: 0.7em;
  height: fit-content;
  margin-left: 1em;
}

.ComboBoxUI {
  text-align: start;
}

.preview {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.preview-img {
  height: 300px;
  width: fit-content;
}
