.slider-container {
  width: 90%;
  height: auto;
}

.slick-slider {
  max-width: 100%;
  max-height: 100%;
}

.slick-dots li {
  margin: 0;
}

@media (max-width: 990px) {
  .slider-container {
    width: 100%;
  }

  .slick-slider {
    max-width: 110%;
  }

  .slider-container {
    width: 100vw;
    height: auto;
  }
}

.slick-initialized .slick-slide {
  display: flex;
  justify-content: center;
  min-height: 500px;
  max-width: 100%;
  align-content: center;
  flex-wrap: wrap;
}

@media (max-width: 900px) {
  .slick-initialized .slick-slide {
    display: flex;
    justify-content: center;
    min-height: 250px;
    max-width: 100%;
    align-content: center;
    flex-wrap: wrap;
  }
}

.carouselleImg {
  cursor: pointer;
  max-height: 500px;
  max-width: 100%;
}

@media (max-width: 900px) {
  .carouselleImg {
    max-height: 250px;
    overflow: hidden;
  }
}

.slick-next:before {
  content: "→";
  color: #00433c;
}

.slick-prev:before {
  content: "←";
  color: #00433c;
}

@media (max-width: 990px) {
  .slick-prev:before,
  .slick-next:before {
    display: none;
  }
}
