.wholeScreen {
  position: relative;
  width: 100%;
  background-color: #00433c;
  display: grid;
  overflow: hidden;
}

.ImageAndAnimationCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  grid-row: 1;
  grid-column: 1;
  min-height: calc(100vh - 200px);
  max-height: calc(100vh - 200px);
  object-fit: contain;
}

@media (max-width: 1200px) {
  .ImageAndAnimationCont {
    min-height: calc(100vh - 100px);
  }
}
.maskImgHome,
.maskImgAbout,
.maskImgContact {
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  mask-size: 100% 100%;
  aspect-ratio: 16 / 9;
  width: 90%;
  max-width: 1050px;
  height: auto;
  overflow: hidden;
  top: 2em;
  position: relative;
  transform: rotate(-15deg);
  transition: all 1.5s ease-in-out;
}

.maskImgHome.ready,
.maskImgAbout.ready,
.maskImgContact.ready {
  transform: rotate(3deg);
}

.maskImgHome {
  -webkit-mask-image: url(/src/assets/film.png);
  mask-image: url(/src/assets/film.png);
}

.maskImgContact {
  -webkit-mask-image: url(/src/assets/mail.png);
  mask-image: url(/src/assets/mail.png);
}

.maskImgAbout {
  -webkit-mask-image: url(/src/assets/camera.png);
  mask-image: url(/src/assets/camera.png);
}

@media (max-width: 1200px) {
  .maskImgHome,
  .maskImgAbout,
  .maskImgContact {
    top: 0em;
  }
}

@media (max-width: 500px) {
  .maskImgHome,
  .maskImgAbout,
  .maskImgContact {
    top: -3em;
  }
}

.background-image {
  scale: 0;
  height: 103%;

  object-fit: contain;
  transform: rotate(-10deg);
  transition: opacity 2s ease-in-out, transform 1s ease-in-out,
    scale 1.5s ease-out;
  opacity: 0;
  inset: 0;
  top: -7px;
  position: absolute;
}

.background-image.ready {
  transform: rotate(-3deg);
  opacity: 1;
  scale: 1;
}

.background-image.ready.fade-in {
  opacity: 1;
}

.background-image.ready.fade-out {
  opacity: 0;
}

.animated-text {
  font-size: 6vw;
  color: white;
  font-family: "Nova Round", sans-serif;
  transform: scaleY(1.5);
  z-index: 1;
  position: relative;
  bottom: 1em;
  height: 0.8em;
  width: 100%;
}

@media (max-width: 1200px) {
  .animated-text {
    font-size: 6vw;
    bottom: 1em;
  }
}

@media (max-width: 500px) {
  .animated-text {
    font-size: 6.5vw;
    bottom: 3em;
  }
}

@media (min-width: 500px) and (max-width: 1200px) and (max-height: 790px) {
  .maskImgHome,
  .maskImgAbout,
  .maskImgContact {
    width: auto;
    max-height: 80%;
    height: 500px;
  }
}
